<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<!-- 添加健康状况模态框 -->
<div class="modal fade" id="reportAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加</h4>
            </div>
            <div class="modal-body">
                <form action="/report" class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="report_add_select" class="col-sm-2 control-label">健康状况</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="healthState" id="report_add_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="report_remark_input" class="col-sm-2 control-label">备注信息</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="remark" id="report_remark_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 修改健康状况模态框 -->
<div class="modal fade" id="reportUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body">
                <form action="/report/update" class="form-horizontal" method="post">
                    <input type="hidden" name="id" id="report_update_id">
                    <div class="form-group">
                        <label for="report_add_select" class="col-sm-2 control-label">健康状况</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="healthState" id="report_update_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="report_update_remark_input" class="col-sm-2 control-label">备注信息</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="remark" id="report_update_remark_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 添加教师账号模态框 -->
<div class="modal fade" id="teacherAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加教师账号</h4>
            </div>
            <div class="modal-body">
                <form action="/register" class="form-horizontal" method="post">
                    <input type="hidden" name="roleId" value="2">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="username" class="form-control" placeholder="工 号">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="password" class="form-control" placeholder="密　码">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="name" class="form-control" id="inputName3" placeholder="姓 名">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="home" class="form-control" id="inputHome3" placeholder="家 庭 住 址">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="phone" class="form-control" id="inputPhone3" placeholder="手 机 号 码">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control" name="clazzId" id="teacher_add_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">健康状况登记</span>
            </button>
            <a class="navbar-brand" href="/">健康状况登记</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text navbar-right"></p>
            <p class="navbar-text navbar-right"><a href="/logout" style="color:red;" class="navbar-link">注销</a></p>
            <button th:if="${user.role} eq 'ROLE_STUDENT'" id="report_add_modal_btn"
                    type="button" class="btn btn-info navbar-btn navbar-right">新增健康记录
            </button>
            <button th:if="${user.role} eq 'ROLE_ADMIN'" id="teacher_add_modal_btn"
                    type="button" class="btn btn-info navbar-btn navbar-right">新增教师账号
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>
                        <span>姓名:</span>
                        <span th:text="${user.name}" style="color:brown;"></span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>账号类型:</span>
                        <span th:if="${user.role} eq 'ROLE_STUDENT'" style="color:brown;">学生</span>
                        <span th:if="${user.role} eq 'ROLE_TEACHER'" style="color:brown;">老师</span>
                        <span th:if="${user.role} eq 'ROLE_ADMIN'" style="color:brown;">管理员</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed table-striped table-hover" id="emps_table">
                <thead>
                <tr>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>#</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>学号</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>班级</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>姓名</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>健康状态</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>联系方式</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>备注</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>创建时间</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>最后更新时间</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: center;'>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report:${reportList}">
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.id}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.account}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.clazzName}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.name}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.healthStateTitle}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.phone}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${report.remark}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${#dates.format(report.gmtCreate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'
                        th:text="${#dates.format(report.gmtModified, 'yyyy-MM-dd HH:mm')}"></td>
                    <td rowspan=$rowspan style='vertical-align: middle;text-align: center;'>
                        <button class="btn btn-sm btn-primary edit_btn" th:attr="edit_id=${report.id}">
                            <span class="glyphicon glyphicon-pencil"></span> 编辑
                        </button>
                        <a th:href="@{'/report/del/'+ ${report.id}}">
                            <button class="btn btn-sm btn-danger delete_btn">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="footer">
    Copyright © 2020
    · 华南农业大学17级网络工程3班
    · <span style="color: #d43f3a">李攀</span>
    · <span style="color: orange">叶振涛</span>
    · <span style="color: blue">孙裕康</span>
    · <span style="color: deeppink">唐嘉维</span>
    · 数据库分析与设计实习
</div>

<script>
    function resetForm(ele) {
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    function loadHealthState(ele) {
        $(ele).empty();
        $.ajax({
            url: "/health",
            type: "GET",
            success: function (result) {
                var healthStates = result.healthStateList;
                $.each(healthStates, function (index, healthState) {
                    var option = $("<option></option>").attr("value", healthState.id).append(healthState.state);
                    $(ele).append(option);
                });
            }
        });
    }

    $("#report_add_modal_btn").click(function () {
        resetForm("#reportAddModal form");
        loadHealthState("#report_add_select");
        $("#reportAddModal").modal({
            backdrop: "static"
        });
    });

    $(document).on("click", ".edit_btn", function () {
        $("#report_update_id").attr("value", $(this).attr("edit_id"));
        resetForm("#reportUpdateModal form");
        loadHealthState("#report_update_select");
        $("#reportUpdateModal").modal({
            backdrop: "static"
        });
        loadReport($(this).attr("edit_id"));
    });

    function loadReport(id) {
        $.ajax({
            url: "/report/" + id,
            type: "GET",
            success: function (result) {
                var report = result.report;
                $("#report_update_remark_input").val(report.remark);
                $("#reportUpdateModal select").val([report.healthState]);
            }
        });
    }

    $("#teacher_add_modal_btn").click(function () {
        resetForm("#teacherAddModal form");
        loadClazz("#teacher_add_select");
        $("#teacherAddModal").modal({
            backdrop: "static"
        });
    });

    function loadClazz(ele) {
        $(ele).empty();
        $.ajax({
            url: "/clazz",
            type: "GET",
            success: function (result) {
                var clazzes = result.clazzList;
                $.each(clazzes, function (index, clazz) {
                    var option = $("<option></option>").attr("value", clazz.id).append(clazz.clazzName);
                    $(ele).append(option);
                });
            }
        });
    }
</script>
</body>
</html>